.signup {
    height: 100%;
    background-color: #ffac19;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../Images/imgg2.png);
}

.signup .header {
    color: white;
    text-align-last: center;
    padding: 4%;
}

    .signup .header .head {
        font-size: 2.5rem;
        font-family: 'Noto Sans TC', sans-serif;
    }

    .signup .header .header-underline {
        background-color: white;
        width: 5.5rem;
        height: 2.5px;
        margin: 0.5rem auto;
    }

    .signup form {
        width: 80%;
        margin: 1% 12% auto;
        overflow: hidden;
        font-family: 'Open Sans', sans-serif;
    }

.signup .form .input {
    margin: 5px;
    width: 90%;
}

.signup .form .input div {
    background-color: white;
}

    .signup .form .input div div {
        color: #dcd7db;
    }

    .signup .form label {
        font-weight: 100;
        color: #dcd7db;
    }

.signup .form input {
    background-color: white;
    border-radius: 5px;
}

    .signup .form .submit {
        display: flex;
        margin-top:6px;
    }

        .signup .form .submit span {
            font-weight: 600;
            color: white;
            font-size: 1rem;
        }

        .signup .form .submit button {
            border-radius: 2rem;
            margin: auto;
            background-color: #9319ff;
            width:9rem;
            height:3rem;
            border:0;
        }

    .signup .footer {
        display: flex;
    }

        .signup .footer .footer-underline {
            height: 2.5px;
            width: 3rem;
            background-color: white;
            margin: auto 77%;
        }

    .signup a {
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: larger;
        margin: auto;
        font-weight: 600;
    }

    .signup .footer .login{
        display:contents;
    }

    .signup a:hover{
        text-decoration :none;
    }

    .signup .form .input p{
        color:red;
        font-size:1rem;
    }

    .signup h5 {
        color: white;
        font-size: larger;
        margin: auto;
        font-family: 'Open Sans', sans-serif;
    }
